/**********************offcanvas********************/

.screen-overlay {
  right: 0;
}

.mobile-offcanvas{
    @media screen and (max-width:991px) {
    transform:translateX(100%);
    right:0;
    }
  }	
@media all and (max-width:991px) { 
  .mobile-offcanvas.showCanvas{
    transform: translateX(0%);
  }
}


.rtl, [dir=rtl] {
  .form-check-input, .form-check-input {
    margin-right: .25rem;
    margin-left: .3125rem;
  }
  .form-check-label, .form-check-label {
    padding-right: inherit;
    padding-left: 1.25rem;
  }
}

.mainSearch{
  .form-group{
    .form-control{
      padding:0 2.2rem 0 .5rem;
    }
    &:first-child{
      .form-control{
          border-right: 0;
          border-radius:0 40px 40px 0;
          &.round-right{
            border-bottom-right-radius: 0;
          }
      }
    }
    &:last-child{
      .form-control{
          border-radius:40px 0 0 40px ;
      }
    }
  }
}

.bannerCont{
  .mainSearchHome{
      right:15%;
      left:Auto;
      @media screen and (max-width:767px) {
        right:5%;
        left: auto;
    }
  }
  
}